<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- our Stylesheet -->
    <link rel="stylesheet" href="../../res/styles/index.css" type="text/css">
    {% block stylesheets %}

    {% endblock %}
    <title>
        {% block title%}

        {% endblock %}
    </title>
</head>

<body>
    <div class="grid-container">
        <header class="header">
            <img src="../../res/Rockfall.png">
        </header>

        <!-- Beginn of side navbar -->
        <aside class="sidenav">
            <div class="col-1">
                <a class="btn btn-secondary btn.lg" href="./plot" role="button">Chart</button></a>
                <a class="btn btn-secondary btn.lg" href="./upload" role="button">Upload</button></a>
                <!--<a class="nav-link active" href="upload.html">Upload</a>
                <a class="nav-link active" href="#">Bla</a>
                <a class="nav-link active" href="#">bla</a>
                <a class="nav-link active" href="#">bla</a> -->
            </div>
        </aside>
        <div id="loading">
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <div id="content">
            <main class="main" bg-secondary>
                {% block content %}

                {% endblock %}
            </main>
        </div>

        <footer id="footer" class="row">
            <div class="col">
                <img src="/res/Logo.png">
                <nav class="nav fixed-bottom justify-content-center navbar-expand-sm ">
                    <a class="nav-link" href="#">About us</a>
                    <a class="nav-link" href="#">Contact Us</a>
                    <a class="nav-link" href="#">Register/login</a>
                </nav>
            </div>
        </footer>
    </div>

    {% block scripts %}
    {% endblock %}
</body>
</html>