{% extends 'base.html' %}

{% block title %}
    Chart
{% endblock %}


{% block content %}
   <ul class="nav nav-tabs" id="pilot-case-nav" role="tablist"></ul>

   <!--<div class="row">
      <div class="col-md-4"><!-- form/results will go here -></div>
      <div class="col-md-8">-->
   <div class="tab-content" id="charts-tab-content">
      <!--<div class="tab-pane fade show active" id="Brno" role="tabpanel" aria-labelledby="Brno-tab">
         <canvas id="Brno-chart" width="1000" height="1000"></canvas>
      </div>
      <div class="tab-pane fade" id="pc2" role="tabpanel" aria-labelledby="pc2-tab">
         <p>Seas</p>
      </div>-->
   </div>
{% endblock %}

{% block scripts %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
   
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

   <script>
      var pilotCaseNav = document.getElementById("pilot-case-nav")
      var chartsDiv = document.getElementById("charts-tab-content")

      var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
      }
      
      {% for pc, pc_data in data.items() %}
         // pilot case data
         pc = "{{ pc }}"

         //append the tab for the pilot case
         var li = document.createElement("li")
         li.className = "nav-item"
         li.role = "presentation"

         var btn = document.createElement("button")
         btn.className = "nav-link"
         btn.textContent = pc
         btn.id = pc + "-tab"
         btn.setAttribute("data-bs-toggle", "tab")
         btn.setAttribute("data-bs-target", "#" + pc)
         btn.setAttribute("type", "button")
         btn.setAttribute("role", "tab")
         btn.setAttribute("aria-controls", pc)
         btn.setAttribute("aria-selected", false)

         li.append(btn)
         pilotCaseNav.append(li)

         //append the chart for the pilot case
         var chartDiv = document.createElement("div")
         chartDiv.classList.add("tab-pane", "fade")
         chartDiv.id = pc
         chartDiv.role = "tabpanel"
         chartDiv.setAttribute("aria-labelledby", pc + "-tab")

         var chartCanvas = document.createElement("canvas")
         chartCanvas.id = pc + "-chart"
         chartDiv.style.width = "500px"
         chartDiv.style.height = "400px"

         chartDiv.append(chartCanvas)
         chartsDiv.append(chartDiv)

         lines = []

         {% for label, data in pc_data.items() if (label != "dt" and label != "ftc") %}
            if ("{{ data }}".replace(/None|,|\[|\]|\s/g,'').length > 0) {
               lines.push({
                  label: "{{ label }}",
                     data: [
                        {% for item in data %}
                           {{ item if item is not none }},
                        {% endfor %}
                     ],
                     backgroundColor: dynamicColors(),
                     borderColor: dynamicColors(),
                     borderWidth: 1,
                     spanGaps: true,
                     yAxisID: 'cd'
               })
            }
         {% endfor %}

         ftc = [[43, 50]]
         var backgroundColorRange = {
            id: "backgroundColorRange",
            beforeDatasetDraw(chart, args, pluginOptios) {
               const { ctx, data, chartArea: {top, bottom, left, right, width, height},
                  scales: {x, y} } = chart;

               ctx.save();
               ctx.fillStyle = 'rgba(200,200,200,0.8)';
               //for (cycle of ftc) {
               var begin = new Date(data.labels[10])
               var end
               console.log(date)
               var xAxis = x.getPixelForValue(date.getTime())
               var yAxis = x.getPixelForValue() - xAxis

               ctx.fillRect(xAxis, top, yAxis, height);
               //}
            }
         }

         var ctx = chartCanvas.getContext("2d")
         var config = {
            type: 'line',
            data: {
               labels: [
                  {% for item in pc_data['dt'] %}
                     "{{ item }}",
                  {% endfor %}
               ],
               datasets: lines,
            },
            options: {
               plugins: {
                  title: {
                     text: 'chart title',
                     display: false
                  },
                  legend: {
                     position: "right",
                     align: "middle"
                  }
               },
               scales: {
                  x: {
                     type: 'time',
                     time: {
                        tooltipFormat: 'dd.MM.yy HH:mm',
                        displayFormats: {
                           day: 'dd.MM yy',
                           minute: 'dd.MMM yy HH:mm',
                           hour: 'dd.MMM yy hha'
                        }
                     },
                     title: {
                        display: true,
                        text: 'Date'
                     }
                  },
                  cd: {
                     position: 'left',
                     display: false
                  }
               },
               elements: {
                  point: {
                     radius: 0 // default to disabled in all datasets
                  }
               }
            },
            plugins: [backgroundColorRange]
         }

         var chart = new Chart(ctx, config)
      {% endfor %}

      var active_tab = pilotCaseNav.firstChild.firstChild
      active_tab.classList.add("active")
      active_tab.setAttribute("aria-selected", true)

      var active_div = document.getElementById(active_tab.id.slice(0, -4))
      active_div.classList.add("show", "active")
   </script>
{% endblock %}