{% extends 'base.html' %}

{% block title %}
    Chart
{% endblock %}


{% block content %}
   <ul class="nav nav-tabs" id="pilot-case-nav" role="tablist"></ul>

   <!--<div class="row">
      <div class="col-md-4"> form/results will go here -></div>
      <div class="col-md-8">-->
   <div class="tab-content" id="charts-tab-content">
      <!--<div class="tab-pane fade show active" id="Brno" role="tabpanel" aria-labelledby="Brno-tab">
         <canvas id="Brno-chart" width="1000" height="1000"></canvas>
      </div>
      <div class="tab-pane fade" id="pc2" role="tabpanel" aria-labelledby="pc2-tab">
         <p>Seas</p>
      </div>-->
   </div>

<!-- Table -->
    <table>
        <tr>
            <th>Location</th>
            <th>Temperature</th>
        </tr>
        {% for data in table_data %}
        <tr>
            <td>{{ data.location }}</td>
            <td>{{ data.temperature }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}

{% block scripts %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
   
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

   <script>
      var pilotCaseNav = document.getElementById("pilot-case-nav")
      var chartsDiv = document.getElementById("charts-tab-content")

      var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
      }
      
      {% for pc, pc_data in data.items() %}
         // pilot case data
         pc = "{{ pc }}"
         console.log("{{ pc_data }}")

         //append the tab for the pilot case
         var li = document.createElement("li")
         li.className = "nav-item"
         li.role = "presentation"

         var btn = document.createElement("button")
         btn.className = "nav-link"
         btn.textContent = pc
         btn.id = pc + "-tab"
         btn.setAttribute("data-bs-toggle", "tab")
         btn.setAttribute("data-bs-target", "#" + pc)
         btn.setAttribute("type", "button")
         btn.setAttribute("role", "tab")
         btn.setAttribute("aria-controls", pc)
         btn.setAttribute("aria-selected", false)

         li.append(btn)
         pilotCaseNav.append(li)

         //append the chart for the pilot case
         var chartDiv = document.createElement("div")
         chartDiv.classList.add("tab-pane", "fade")
         chartDiv.id = pc
         chartDiv.role = "tabpanel"
         chartDiv.setAttribute("aria-labelledby", pc + "-tab")

         var chartCanvas = document.createElement("canvas")
         chartCanvas.id = pc + "-chart"
         chartDiv.style.width = "500px"
         chartDiv.style.height = "400px"

         chartDiv.append(chartCanvas)
         chartsDiv.append(chartDiv)

         lines = []

         {% for label, data in pc_data.items() if (label != "dt") %}
            lines.push({
               label: "{{ label }}",
                  data: [
                     {% for item in data %}
                        {{ item if item is not none }},
                     {% endfor %}
                  ],
                  backgroundColor: dynamicColors(),
                  borderColor: dynamicColors(),
                  borderWidth: 1,
                  spanGaps: true,
                  yAxisID: 'cd'
            })
         
         {% endfor %}

         var chart = new Chart(chartCanvas.getContext("2d"), {
            type: 'line',
            data: {
               labels: [
                  {% for item in pc_data['dt'] %}
                     "{{ item }}",
                  {% endfor %}
               ],
               datasets: lines,
            },
            options: {
               plugins: {
                  title: {
                     text: 'chart title',
                     display: true
                  }
               },
               scales: {
                  x: {
                     type: 'time',
                     time: {
                        tooltipFormat: 'dd.MM.yy HH:mm',
                        displayFormats: {
                           day: 'dd.MM yy',
                           minute: 'dd.MMM yy HH:mm',
                           hour: 'dd.MMM yy hha'
                        }
                     },
                     title: {
                        display: true,
                        text: 'Date'
                     }
                  },
                  cd: {
                     position: 'left',
                     display: false
                  }
               }
            }
         });
      {% endfor %}

      var active_tab = pilotCaseNav.firstChild.firstChild
      active_tab.classList.add("active")
      active_tab.setAttribute("aria-selected", true)

      var active_div = document.getElementById(active_tab.id.slice(0, -4))
      active_div.classList.add("show", "active")
   </script>

    <script>
       // Function to generate table HTML
       function generateTableHTML(data) {
          var tableHTML = '<table><tr><th>Date</th><th>Value</th></tr>';
          for (var i = 0; i < data.length; i++) {
             tableHTML += '<tr><td>' + data[i].location + '</td><td>' + data[i].temperature + '</td></tr>';
          }
          tableHTML += '</table>';
          return tableHTML;
       }
       // Data from the server
       var tableData = JSON.parse('{{ table_data | tojson }}');

       // Generate table HTML
       var tableHTML = generateTableHTML(tableData);

       // Append table HTML to the element with ID "charts-tab-content"
       var chartsDiv = document.getElementById('charts-tab-content');
       chartsDiv.innerHTML = tableHTML;

       /*{% for pc, pc_data in data.items() %}
          // pilot case data
          pc = "{{ pc }}"
          console.log("{{ pc_data }}")

          // append the table for the pilot case
          var tableDiv = document.createElement("div");
          tableDiv.classList.add("tab-pane", "fade");
          tableDiv.id = pc;
          tableDiv.role = "tabpanel";
          tableDiv.setAttribute("aria-labelledby", pc + "-tab");

          var tableHTML = generateTableHTML({{ pc_data|tojson }});
          tableDiv.innerHTML = tableHTML;

          chartsDiv.append(tableDiv);
       {% endfor %}*/
    </script>

{% endblock %}