{% extends 'base.html' %}

{% block title %}
    Chart
{% endblock %}


{% block content %}
   {% if data is not defined or data|length == 0 %}
      <span>No data available</span>
   {% else %}
      <ul class="nav nav-tabs" id="pilot-case-nav" role="tablist"></ul>
      <div class="tab-content" id="charts-tab-content">
      </div>
      <table id="ftc-table" class="table">
         <thead>
            <tr>
               <th scope="col">Stage</th>
               <th scope="col">Begin</th>
               <th scope="col">End</th>
               <th scope="col">Duration</th>
            </tr>
         </thead>
         <tbody id="ftc-tbody">
            <tr style="background-color: rgba(116, 85, 155, 0.4);">
               <th scope="row">Cooling</td>
               <td>-</td>
               <td>-</td>
               <td>-</td>
            </tr>
            <tr style="background-color: rgba(112, 184, 74, 0.4);">
               <th scope="row" >Freezing</td>
               <td>-</td>
               <td>-</td>
               <td>-</td>
            </tr>
            <tr style="background-color: rgba(214, 107, 63, 0.4);">
               <th scope="row">Warming</td>
               <td>-</td>
               <td>-</td>
               <td>-</td>
            </tr>
            <tr>
               <th scope="row">Thawing</td>
               <td>-</td>
               <td>-</td>
               <td>-</td>
            </tr>
         </tbody>
      </table>
      <table id="clickedPointTable">
         <thead>
            <tr></tr>
         </thead>
         <tbody>
            <tr></tr>
         </tbody>
      </table>
   {% endif %}
{% endblock %}

{% block scripts %}
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
   
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

   <script>
      var pilotCaseNav = document.getElementById("pilot-case-nav")
      var chartsDiv = document.getElementById("charts-tab-content")

      var dynamicColors = function() {
            var r = Math.floor(Math.random() * 255);
            var g = Math.floor(Math.random() * 255);
            var b = Math.floor(Math.random() * 255);
            return "rgb(" + r + "," + g + "," + b + ")";
      }
      
      {% for pc, pc_data in data.items() %}
         // pilot case data
         pc = "{{ pc }}"

         //append the tab for the pilot case
         var li = document.createElement("li")
         li.className = "nav-item"
         li.role = "presentation"

         var btn = document.createElement("button")
         btn.className = "nav-link"
         btn.textContent = pc
         btn.id = pc + "-tab"
         btn.setAttribute("data-bs-toggle", "tab")
         btn.setAttribute("data-bs-target", "#" + pc)
         btn.setAttribute("type", "button")
         btn.setAttribute("role", "tab")
         btn.setAttribute("aria-controls", pc)
         btn.setAttribute("aria-selected", false)

         li.append(btn)
         pilotCaseNav.append(li)

         //append the time pickers for the pilot case
         var begin = document.createElement("input")
         begin.type = "datetime-local"
         begin.value = "{{ pc_data['dt'][0] }}"
         begin.min = "{{ pc_data['dt'][0] }}"
         begin.max = "{{ pc_data['dt']|last }}"

         var end = document.createElement("input")
         end.type = "datetime-local"
         console.log()
         end.value = "{{ pc_data['dt']|last }}"
         end.min = "{{ pc_data['dt'][0] }}"
         end.max = "{{ pc_data['dt']|last }}"

         chartsDiv.append(begin, end)


         //append the chart for the pilot case
         var chartDiv = document.createElement("div")
         chartDiv.classList.add("tab-pane", "fade")
         chartDiv.id = pc
         chartDiv.role = "tabpanel"
         chartDiv.setAttribute("aria-labelledby", pc + "-tab")

         var chartCanvas = document.createElement("canvas")
         chartCanvas.id = pc + "-chart"
         chartDiv.style.width = ""

         chartDiv.append(chartCanvas)
         chartsDiv.append(chartDiv)
         
         var backgroundColorRange = {
            id: "backgroundColorRange",   
            beforeDatasetDraw(chart, args, pluginOptios) {
               if (containsNotNoneValues({{ pc_data['ftc'] | tojson }})) {
                  const { ctx, data, chartArea: {top, bottom, left, right, width, height},
                     scales: {x, y} } = chart;

                  ctx.save();
                  
                  {% for item in pc_data['ftc'] %}
                     var cb_date = new Date("{{ item['cb'] }}")
                     var fb_date = new Date("{{ item['fb'] }}")
                     var wb_date = new Date("{{ item['wb'] }}")
                     var tb_date = new Date("{{ item['tb'] }}")

                     var cb_x = x.getPixelForValue(cb_date.getTime())
                     var fb_x = x.getPixelForValue(fb_date.getTime())
                     var wb_x = x.getPixelForValue(wb_date.getTime())
                     var tb_x = x.getPixelForValue(tb_date.getTime())

                     console.log(cb_x + " " + fb_x + " " + left)

                     if (cb_x < left) cb_x = left

                     if (fb_x < left)
                        fb_x = left
                     else if (fb_x > right)
                        fb_x = right

                     if (wb_x < left)
                        wb_x = left
                     else if (wb_x > right)
                        wb_x = right

                     if (tb_x < left)
                        tb_x = left
                     else if (tb_x > right)
                        tb_x = right


                     var fb_dist = fb_x - cb_x
                     var wb_dist = wb_x - fb_x
                     var tb_dist = tb_x - wb_x
                     

                     ctx.fillStyle = 'rgba(116, 85, 155, 0.4)';
                     ctx.fillRect(cb_x, top, fb_dist, height);

                     ctx.fillStyle = 'rgba(112, 184, 74, 0.4)';
                     ctx.fillRect(fb_x, top, wb_dist, height);

                     ctx.fillStyle = 'rgba(214, 107, 63, 0.4)';
                     ctx.fillRect(wb_x, top, tb_dist, height);

                     ctx.restore();

                     addEvent(chartCanvas, 'click', function (event) {
                        var rect = event.target.getBoundingClientRect();
                        var clickX = event.clientX - rect.left;

                        if (clickX > cb_x && clickX < tb_x) {
                           var new_body = document.createElement("tbody")
                           new_body.id = "ftc-tbody"

                           new_body.append(
                              createFTCRow("Cooling", cb_date, fb_date, fb_date - cb_date, 'rgba(116, 85, 155, 0.4)'),
                              createFTCRow("Freezing", fb_date, wb_date, wb_date - fb_date, 'rgba(112, 184, 74, 0.4)'),
                              createFTCRow("Warming", wb_date, tb_date, tb_date - wb_date, 'rgba(214, 107, 63, 0.4)'),
                              createFTCRow("Thawing", tb_date, null, null)
                           )

                           var ftc_table = document.getElementById("ftc-table")
                           var old_body = document.getElementById("ftc-tbody")


                           old_body.replaceWith(new_body)
                        }
                     })
                  {% endfor %}                  
               }
            }
         }
      
         var ctx = chartCanvas.getContext("2d")
         var config = createChartConfig({{ pc }}, {{ pc_data | tojson}}, 0, {{pc_data['dt'] | length}})
         var chart = new Chart(ctx, config)

         begin.onchange = end.onchange = function() {
            let chart = Chart.getChart(pc + "-chart");
            chart.destroy()

            var begin_idx = {{pc_data['dt'] | tojson}}.findIndex(
               function(date) {
                  return new Date(date).toISOString() >= begin.value;
               }
            );

            var end_idx = {{pc_data['dt'] | tojson}}.findIndex(
               function(date) {
                  return new Date(date).toISOString() >= end.value;
               }
            );

            if (end_idx < ({{ pc_data['dt']|length }} - 1)) end_idx += 1

            var ctx = chartCanvas.getContext("2d")
            var config = createChartConfig({{ pc }}, {{ pc_data | tojson}}, begin_idx, end_idx)
            chart = new Chart(ctx, config)
         }
      {% endfor %}

      var active_tab = pilotCaseNav.firstChild.firstChild
      active_tab.classList.add("active")
      active_tab.setAttribute("aria-selected", true)

      var active_div = document.getElementById(active_tab.id.slice(0, -4))
      active_div.classList.add("show", "active")

      function containsNotNoneValues(arr){
         return arr.some(el => el !== null)
      }

      function addEvent(obj, evType, fn) {
         if (obj.addEventListener) {
            obj.addEventListener(evType, fn, false);
            return true;
         } else if (obj.attachEvent) {
            var r = obj.attachEvent("on" + evType, fn);
            return r;
         } else {
            alert("Handler could not be attached");
         }
      }

      function createFTCRow(stage, begin, end, diff, color) {
         var th = document.createElement("th")
         th.innerHTML = stage
         th.scope = "row"

         var td1 = document.createElement("td")
         if (begin)
            td1.innerHTML = begin.toLocaleString()

         var td2 = document.createElement("td")
         if (end)
            td2.innerHTML = end.toLocaleString()

         var td3 = document.createElement("td")

         var daysDifference = Math.floor(diff/1000/60/60/24);
         diff -= daysDifference*1000*60*60*24

         var hoursDifference = Math.floor(diff/1000/60/60);
         diff -= hoursDifference*1000*60*60

         var minutesDifference = Math.floor(diff/1000/60);
         diff -= minutesDifference*1000*60

         td3.innerHTML = daysDifference + 'd ' +
            hoursDifference + 'H ' + 
            minutesDifference + 'm ';
         
         var tr = document.createElement("tr") 
         tr.style.backgroundColor = color
         tr.append(th, td1, td2, td3)

         return tr
      }

      function createChartConfig(pc, pc_data, begin, end) {
         var  lines = []

         for(let label in pc_data) {
            var data = pc_data[label]
            if (label != "dt" && label != "ftc") {
               if (containsNotNoneValues(data[0])) {
                  lines.push({
                     label: label,
                        data: data[0].slice(begin, end),
                        backgroundColor: dynamicColors(),
                        borderColor: dynamicColors(),
                        borderWidth: 1,
                        spanGaps: true,
                        yAxisID: data[1]
                  })
                  console.log(data)
               }
            }
         }

         var config = {
            type: 'line',
            data: {
               labels: pc_data['dt'].slice(begin, end).map(dateStr => {
                  var date = new Date(dateStr)
                  return new Date(date.getTime() + date.getTimezoneOffset() * 60000)
               }),
               datasets: lines
            },
            options: {
               onClick: function (event, elements) {
                  if (elements.length > 0) {
                     var clickedPoint = elements[0];
                     var datasetIndex = clickedPoint.datasetIndex;
                     var index = clickedPoint.index;
                     var date = chart.data.labels[datasetIndex]
                     //var label = chart.data.datasets[datasetIndex].label

                     var table = document.getElementById("clickedPointTable")
                     var thead = table.querySelector('thead')
                     var tbody = table.querySelector('tbody')

                     var newHeadTr = document.createElement("tr")
                     var newBodyTr = document.createElement("tr")

                     var thDate = document.createElement("th")
                     thDate.innerHTML = "Date"
                     newHeadTr.append(thDate)

                     var thDate = document.createElement("td")
                     thDate.innerHTML = new Date(pc_data["dt"][index]).toLocaleString()
                     newBodyTr.append(thDate)

                     for (var dataset in pc_data) {
                        if (dataset != "dt" && dataset != "ftc") {
                           var th = document.createElement("th")
                           th.innerHTML = dataset
                           console.log(dataset)
                           newHeadTr.append(th)

                           var td = document.createElement("td")
                           if (pc_data[dataset][0][index] != null)
                              td.innerHTML = pc_data[dataset][0][index]
                           else
                              td.innerHTML = "-"
                           
                           if (pc_data[dataset][1] == "degr")
                              td.innerHTML += " °C"
                           else if (pc_data[dataset][1] == "perc")
                              td.innerHTML += " %"
                           else
                              td.innerHTML += " " + pc_data[dataset][1]
                           newBodyTr.append(td)
                        }
                     }

                     var oldHeadTr = thead.querySelector("tr")
                     var oldBodyTr = tbody.querySelector("tr")

                     thead.replaceChild(newHeadTr, oldHeadTr)
                     tbody.replaceChild(newBodyTr, oldBodyTr)
                  }
               },
               plugins: {
                  title: {
                     text: pc,
                     display: false
                  },
                  legend: {
                     position: "right",
                     align: "middle"
                  }
               },
               scales: {
                  x: {
                     type: 'time',
                     time: {
                        tooltipFormat: 'dd.MM.yy HH:mm',
                        displayFormats: {
                           day: 'dd.MM yy',
                           minute: 'dd.MMM yy HH:mm',
                           hour: 'dd.MMM yy hha'
                        }
                     },
                     title: {
                        display: true,
                        text: 'Date'
                     }
                  },
                  degr: {
                     position: 'left',
                     title: {
                        display: true,
                        text: '°C'
                     }
                  },
                  mm: {
                     position: 'left',
                     title: {
                        display: true,
                        text: 'mm'
                     }
                  },
                  perc: {
                     position: 'left',
                     title: {
                        display: true,
                        text: '%'
                     }
                  },
               },
               elements: {
                  point: {
                     radius: 2, // default to disabled in all datasets
                     pointHoverRadius: 5
                  }
               }
            },
            plugins: [backgroundColorRange]
         }

         return config
      }
    </script>

{% endblock %}