{% extends "base.html" %}


{% block stylesheets %}
  <link rel="stylesheet" href="../../res/styles/upload.css" type="text/css">
{% endblock %}

{% block title %}
    Upload
{% endblock %}

{% block content %}
  <form method="POST" action = "/upload" enctype="multipart/form-data" class="file-upload">
    <div class="mb-3">
      <label for="AirHumidity" class="form-label">Drag & Drop your AirHumidity data here:</label>
      <input name="AirHumidity" class="form-control" type="file">
    </div>

    <div class="mb-3">
      <label for="AirTemp" class="form-label">Drag & Drop your AirTemp data here:</label>
      <input name="AirTemp" class="form-control" type="file">
    </div>

    <div class="mb-3">
      <label for="CrackmeterDistance" class="form-label">Drag & Drop your CrackmeterDistance data here:</label>
      <input name="CrackmeterDistance" class="form-control" type="file">
    </div>

    <div class="mb-3">
      <label for="Rainfall" class="form-label">Drag & Drop your Rainfall data here:</label>
      <input name="Rainfall" class="form-control" type="file">
    </div>

    <div class="mb-3">
      <label for="RockSurface" class="form-label">Drag & Drop your RockSurface data here:</label>
      <input name="RockSurface" class="form-control" type="file">
    </div>

    <div class="mb-3">
      <label for="RockTemp" class="form-label">Drag & Drop your RockTemp data here:</label>
      <input name="RockTemp" class="form-control" type="file">
    </div>

    <!-- not working, but idk why
      
      <div class="mb-3 image-upload-wrap">
      <div class="drag-text">
        <h3>Drag and drop your file(s)</h3>
      </div>
      <input class="file-upload-input form-control" name="CrackmeterDistance" type='file'/>
    </div>    
  -->
    <br>
    <button class="file-upload-btn" type="submit" onclick="loading();">UPLOAD</button>
  </form>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/upload.js')}}"></script>
{% endblock %}