{% extends 'base.html' %}

{% block app_context %}
   <div class="row">
      <div class="col-md-4"><!-- form/results will go here --></div>
      <div class="col-md-8">
         <canvas id="chart" width="1000" height="1000"></canvas>
      </div>
   </div>
{% endblock %}

{% block app_scripts %}
   <script>
      var chart = new Chart(document.getElementById('chart').getContext("2d"), {
         type: 'line',
         data: {
            labels: [
               {% for item in dt %}
                  "{{ item }}",
               {% endfor %}
            ],
            datasets: [
               {
                  label: 'CrackmeterDistance',
                  data: [
                     {% for item in cdy %}
                        {{ item if item is not none }},
                     {% endfor %}
                  ],
                  backgroundColor: '#90ee90',
                  borderColor: ['green'],
                  borderWidth: 1,
                  spanGaps: true,
                  yAxisID: 'cdY'
               },
               {
                  label: 'RockTemp25',
                  data: [
                     {% for item in rt25y %}
                        {{ item if item is not none }},
                     {% endfor %}
                  ],
                  backgroundColor: '#add8e6',
                  borderColor: ['blue'],
                  borderWidth: 1,
                  spanGaps: true,
                  yAxisID: 'rt25Y'
               },
               {
                  label: 'RockTemp50',
                  data: [
                     {% for item in rt50y %}
                        {{ item if item is not none }},
                     {% endfor %}
                  ],
                  backgroundColor: '#FFCCCB',
                  borderColor: ['red'],
                  borderWidth: 1,
                  spanGaps: true,
                  yAxisID: 'rt25Y'
               }
            ],
         },
         options: {
            plugins: {
               title: {
                  text: 'chart title',
                  display: true
               }
            },
            scales: {
               x: {
                  type: 'time',
                  time: {
                     tooltipFormat: 'dd.MM.yy HH:mm',
                     displayFormats: {
                        day: 'dd.MM yy',
                        minute: 'dd.MMM yy HH:mm',
                        hour: 'dd.MMM yy hha'
                     }
                  },
                  title: {
                     display: true,
                     text: 'Date'
                  }
               },
               /*y: {
                  display: false,
                  type: 'linear'
               }*/
               cdY: {
                  position: 'left'
               },
               rt25Y: {
                  position: 'left'
               },
               rt50Y: {
                  position: 'left'
               }
            }
         }
      });
   </script>
{% endblock %}